html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* antd样式覆盖 */
.ant-btn-primary {
  background-color: #0eacb7 !important;
  width: 170px !important;
  height: 56px !important;
  border-radius: 34px !important;
  font-weight: 800 !important;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #0eacb7 !important;
}

.ant-input:hover {
  border-color: #f4f4f4 !important;
}

.ant-input:active {
  border-color: #f4f4f4 !important;
}

.ant-input:focus,
.ant-input-focused {
  outline: none;
  border: 1px solid #f4f4f4 !important;
}

.ant-form-vertical .ant-form-item-label > label,
.ant-col-24.ant-form-item-label > label,
.ant-col-xl-24.ant-form-item-label > label {
  font-weight: 700 !important;
}

/* slick-react 样式覆盖 */
.slick-slider {
  margin: 0 25px;
}

.slick-track {
  top: 18px !important;
  left: 15px !important;
}

.slick-list {
}

.slick-prev {
}

.slick-next {
  right: -39px !important;
}

/* 全局按钮 */
.btn-all {
  border-radius: 999px;
  border: solid 1px #01acb7;
  background-color: #01acb7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 24px;
  min-width: 168px;
  max-width: 200px;
  margin: 0 5px;
  cursor: pointer;
}

.btn-all:hover {
  background-color: white;
  color: #01acb7;
}
